# Deep learning
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
timm==1.0.3
transformers==4.41.1
tokenizers==0.19.1
safetensors==0.4.3
huggingface-hub==0.23.1

# Image processing & augmentation
albumentations==1.4.7
imgaug==0.4.0
opencv-python==4.9.0.80
scikit-image==0.21.0
pillow==9.4.0
imageio==2.34.1

# Medical imaging
pydicom==2.4.4
dicomsdl==0.109.3

# Data & ML
numpy==1.24.4
pandas==2.0.3
scipy==1.10.1
scikit-learn==1.3.2
omegaconf==2.3.0

# Utilities
tqdm==4.66.4
click==8.1.7
regex==2024.5.15
packaging==24.0
fsspec==2024.5.0
pydantic==2.7.1
nltk==3.8.1

# Monitoring
tensorboard==2.14.0

# Dev tools
ipython==8.12.2
pynvml
python-lsp-server
matplotlib==3.7.2
